.profile {
    display: flex;
    align-items: center;
}

.profile img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.profile_details {
    padding-left: 10px;
}

.profile_details p strong {
    font-size: 21px;
}

.my_fitness {
    background-color: aliceblue;
    margin: 10px auto;
    display: flex;
    padding: 10px 35px;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.my_fitness div span strong {
    font-size: 25px;
}

.break_time {
    background-color: aliceblue;
    margin: 10px auto;
    display: flex;
    padding: 5px 35px;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.break_time div p {
    background-color: white;
    border: none;
    padding: 5px;
    margin: 15px 5px;
    border-radius: 50%;
    cursor: pointer;
}

.break_time div:hover p {
    background-color: #4e4efa;
    color: white;
}

.exercise_time {
    background-color: aliceblue;
    margin: 10px auto;
    display: flex;
    padding: 5px 35px;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.break_times {
    background-color: aliceblue;
    margin: 10px auto;
    display: flex;
    padding: 5px 35px;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.completed_btn {
    margin: 20px 0;
}

.completed_btn button {
    width: 100%;
    background-color: rgb(13, 217, 13);
    color: white;
    padding: 15px;
    font-size: large;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.completed_btn:hover button {
    background-color: #4e4efa;
}