.fitness_container{
    display: grid;
    grid-template-columns: 3.5fr 1fr;
}
.fitness_body{
    margin: 0;
    padding: 0 5%;
    background-color: aliceblue;
}
.fitness_body p {
    font-size: 20px;
    font-weight: 600;
}
.categories_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /* margin: 30px; */
}
.fitness_Header{
    color: rgb(255, 204, 0);
}
/* calculation  */
.fitness_Calculation{
    padding: 20px;
}

@media screen and (max-width: 1300px) {
    .fitness_container {
            grid-template-columns: 3fr 1.5fr;
    }
    .categories_container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 992px) {
    .fitness_container {
            grid-template-columns: 3fr 2fr;
        }
    .categories_container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .categories_container {
        grid-template-columns: repeat(1, 1fr);
    }
    .fitness_container{
        display: flex;
        flex-direction: column-reverse;
    }
}